.section2{
  background-color: $white;
  padding: 100px;
  text-align: center;
}

.section2__image2{
  width: 80%;
}

.section2__tittle{
  font-weight:$bold;
  color:$granite-gray;
  font-size: $medium;
}

.section2__text{
  font-size: $regular;
  text-align: left;
  color:$granite-gray;
  width: 50%;
  margin: 0 auto;

}
